# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

    ../../.CFUserTextEncoding
    ../../.DS_Store
    ../../.gitconfig
    ../../.lesshst
    ../../.local/
    ../../.npm/
    ../../.rbenv/
    ../../.ruby-version
    ../../.ssh/
    ../../.th-client/
    ../../.vscode/
    ../../.zprofile
    ../../.zsh_history
    ../../.zsh_sessions/
    ../../.zshrc
    ../../Applications/
    ../../Desktop/
    ../../Documents/
    ../../Downloads/
    ../../Library/
    ../../Movies/
    ../../Music/
    ../../Pictures/
    ../../Public/
    ../.DS_Store
    ../../Soramix2English/
    ../../sqledi2/